In [ ]:
#Q1. Tupeles are ordered, indexed and unchangable. Tuples are immutable.

In [17]:
#Q2. Two inbuilt methods of tuple are count & index.
   #The reason is tuple will not support assignment operations & only reading values are possible.
t = (1,2,3,4,5,6,7,8)
print(t.count(6)) # count of element 6 is one
print(t.index(6)) # the index of element 6 is 5

1
5

In [16]:
#Q3 Set data type in python will not allow duplicate elements.
s = set([1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4])
print(s)

{1, 2, 3, 4}

In [14]:
#Q4. update and union serves the same purpose but the union returns a set combiling the elements whereas
#the update function just updates the set and returns none.
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1," union ",s2)
unioned = s1.union(s2)
print(s1,s2, " after union ops")
print(" The result ",unioned)
print(type(unioned), " is the return type of union operation.")
print("**********************************************")
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
print(s1," update ", s2)
updated = s1.update(s2)
print(s1,s2," after update ops")
print(" The result ",updated)
print(type(updated), " is the return type of update function")

{1, 2, 3, 4, 5}  union  {4, 5, 6, 7, 8}
{1, 2, 3, 4, 5} {4, 5, 6, 7, 8}  after union ops
 The result  {1, 2, 3, 4, 5, 6, 7, 8}
<class 'set'>  is the return type of union operation.
**********************************************
{1, 2, 3, 4, 5}  update  {4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8} {4, 5, 6, 7, 8}  after update ops
 The result  None
<class 'NoneType'>  is the return type of update function

In [15]:
#Q5. Dictionary is ordered, mutable and dynamic.
d1 = {"name":"Earth", "age":"100+", "Famlily":"Solar"}
print(d1["age"])
print(d1)

100+
{'name': 'Earth', 'age': '100+', 'Famlily': 'Solar'}

In [12]:
#Q6 Yes we can create nested dictionary.
d1 = {"name": "Earth", "age": "100+", "Family": {"name": "solar", "galaxy": "milky way"}}
print(d1["Family"]["galaxy"])

milky way

In [4]:
#Q7
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
dict1.setdefault("topics","Deep Learning")
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': 'Deep Learning'}

In [11]:
#Q8 items(), get() & values() are the 3 build in functions to view data from dictionary.
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
print(dict1.items())
print(dict1.get('Sport'))
print(dict1.values())

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])
Cricket
dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])